<!DOCTYPE html>
<html>
<head>
	<title>Social Movers</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-light">
  	<div class="container-fluid">
	 	<div class="container float-left">
	  		<a class="navbar-brand float-left" href="/" style="color:white">Social Movers!</a>
	  		<a class="nav-link nav-item float-left" href="/movers" style="color:white">All movers</a>
	  		<a class="nav-link nav-item float-left" href="/help" style="color:white">Help out</a>
	  		<a class="nav-link nav-item float-left" href="#" style="color:white">About</a>
	      	<a class="nav-link nav-item float-right" href="#" style="color:white">Sign up</a>
	      	<a class="nav-link nav-item float-right" href="#" style="color:white">Log-in</a>
	      	<a class="nav-link nav-item float-right" href="#" style="color:white">Logout</a>
	    </div>
	</div>
</nav>
