<% include partials/header %>

<h1>Welcome to the social movers site</h1>

<ol>
	<li>Mover 1</li>
	<li>Mover 2</li>
	<li>Mover 3</li>
	<li>Mover 4</li>
	<li>Mover 5</li>
</ol>

<div>
<a href="/movers">View All Movers</a>
</div>
<div>
<a href="/help">Help needed</a>
</div>
<% include partials/footer %>