<% include partials/header %>

<div class="container">
	<header class="jumbotron">

			<h1>Welcome to the social movers site!</h1>
			<p> Lorem ipsum dolor samit</p>

	</header>

	<h2>Our top 5 social movers:</h2>
	<ol>
		<% if (movers.length >= 5){ %>
			<% for(let i = 0; i < 5; i++) { %>
			<li> <%= movers[i].name %>
				 <%= movers[i].phoneNumber %> </li>
			<% } %>
		<% } else { %>
			<% for(let i = 0; i < movers.length; i++) { %>
			<li> <%= movers[i].name %>
				 <%= movers[i].phoneNumber %> </li>
			<% } %>
		<% } %>
	</ol>

</div>

<% include partials/footer %>


