<% include partials/header %>

<h1>Mover's list page</h1>

<a href="/movers/new">Add a mover</a>

<ol>
	<% movers.forEach(function(mover){ %>
			<div>
				<li><%=mover.name %>
				<%=mover.phoneNumber %></li>
			</div>
	<% }); %>
</ol>


<% include partials/footer %>