<% include partials/header %>
<div class="container">
	<header class="jumbotron">
		<h1>Add a mover to our database:</h1>
	</header>

	<form action="/movers" method="POST">
		<input class="form-control" type="text" name="name" placeholder="Mover's name">
		<input class="form-control" type="text" name="phoneNumber" placeholder="Mover's phone number">
		<button class="btn btn-lg btn-default">Submit</button>
	</form>

</div>
<% include partials/footer %>
