<% include partials/header %>

<h1>Add a mover to our database:</h1>
<form action="/movers" method="POST">
	<input type="text" name="name" placeholder="Mover's name">
	<input type="text" name="phoneNumber" placeholder="Mover's phone number">
	<button>Submit</button>
</form>

<div>
<a href="/movers">View All Movers</a>
</div>
<div>
<a href="/help">Help needed</a>
</div>

<% include partials/footer %>
